
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Hind:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.sidebar{
    position: absolute;
    background-color: rgba(12, 155, 184, 0.968);
    /* width: 400px; */
    font-family: 'Hind', sans-serif;
    height: 100vh;
    transition: transform 0.6s ease-in-out;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 27px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: rgba(1, 1, 1, 0.71);
}
.sidebar nav li a:hover{
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: #fff;
    text-shadow: #FC0 1px 0 10px;
}
.main{
    /* background-color: yellow; */
    width: 88vw;
}
.infoContainer{
    /* background-color: rgb(172, 12, 25); */
    width: 80vw;
    height: 55vh;
    margin: 153px auto;
    display: flex;
    justify-content: space-around; 
}
.hello{
    font-size: 58px;
}
.name{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Courgette', cursive;
}
.about{
    font-size: 40px;
}
.more_about{
    font-size: 22px;
    margin-top: 20px;
    font-family: 'Hind', sans-serif;
}
.buttons{
    margin-top: 34px;
}
.buttons button{
    padding: 11px;
    border-radius: 30px;
    color: white;
    background-color: deepskyblue;
    font-weight: bolder;
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
}
.buttons button:hover{
    color:deepskyblue;
    background-color:white;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family:'Dosis', sans-serif;
}
.devpic{
    display: flex;
}
.devpic img{
    
    height: 55vh;
}

.contactform{
    font-family: 'Hind', sans-serif;
    padding: 0 77px;
    padding-top: 70px;
    margin: 0 95px;
}
.contactform h1{
    font-family:'Dosis', sans-serif;
    padding: 14px 0;
    font-size: 50px;
    cursor:grab;
}
.contactform form div{
    padding: 13px 0;
    display: flex;
    flex-direction: column;
    font-size:23px;
}
.contactform form div input{
    width: 25vw;
    border-radius: 4px;
    margin: 8px 0 0 0;
    padding: 5px;
    height: 20px;
    font-size: 17px;
}
.contactform form div input:hover{
    transition-timing-function:ease-out;
    transition-duration: 0.8s;
    background-color: black;
    color:white
}
#emailHelp{
    font-size: 13px;
    color: rgb(255, 0, 0);
    margin: 0 3px;
    padding: 3px 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 1vw;
    margin:4px 0;
    margin-right: 12px;
}
.btn{
    width: 110px;
    height: 55px;
    margin: 31px 2px;
    padding: 11px;
    border-radius: 30px;
    color: white;
    background-color: deepskyblue;
    font-weight: bolder;
    font-size: 23px;
    cursor: pointer;
}
.btn:hover{
    color:deepskyblue;
    background-color:white;
}
.blogconatiner{
    margin: 25px 0 95px 95px;
}
.blogItems{
    margin: 20px;
    font-family: 'Hind', sans-serif;
}
.blogconatiner h1{
    font-family: 'Kavoon', cursive;
    margin: 25px;
    font-size: 50px;
    cursor:wait;
}
.blogItems h2{
    font-size: 30px;
}
.blogItems p{
    font-family:'Dosis', sans-serif;
    font-size: 19px;
}
.btn-sm{
    width: 90px;
    font-size: 12px;
    height: 45px;
    margin-top: 14px;
}
.intro{
    margin: 25px 0 95px 95px;
}
.intro h2{
    font-family: 'Hind', sans-serif;
    margin: 12px;
    font-size: 45px;
}
.intro p{
    margin: 12px;
    font-family:'Dosis', sans-serif;
    font-size: 23px;
}
.skillcontainer{
    padding: 12px;
    font-family:'Dosis', sans-serif;
}
.skillitem{
    display: flex;
    align-items: center;
    font-size: 23px;
}
.skills{
    width: 229px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    margin: 14px 0;
    margin-left: 5px;
}
.t90{
    background-color:rgb(23, 158, 8);
    width: 245px;
}
.t50{
    background-color: yellow;
    width: 130px;
}
.t25{
    background-color: red;
    width: 80px;
}
.service{
    margin:25px 0 95px 95px;
    
}
.service h1{
    font-family: 'Hind', sans-serif;
    font-size: 50px;
}
.service p{
    font-size: 22px;
    font-family:'Dosis', sans-serif;
}
.side_ham{
    position: absolute;
    left:17px;
    cursor: pointer;
}
.sidebar_go{
    transform: translate(-440px,0);
    position: absolute;
}
.hamm{
    margin-top: 12px;
    width: 30px;
}
.crosss{
    margin-left: 192px;
    height: 17px;
    margin-top: 19px;
}
/* Responsive CSS */
@media (max-width:1270) {
    .contactform form div{
        font-size: 40px;
    }
}
@media (max-width:900px) {
    /* .sidebar{
        transform: translate(-433px,0px);
        position:absolute;
    } */
    .devinfo{
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .devpic{
        display: none;
    }
}